/* App.css */
body {
  background-color: #F3F3F3; /* Gris claro */
  color: #333333; /* Gris oscuro */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #217346; /* Verde Excel */
  color: #FFFFFF; /* Blanco */
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
  font-size: 18px;
}

.sidebar li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #FFFFFF; /* Blanco */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
}

.header h1 {
  color: #217346; /* Verde Excel */
}

.header .button {
  background-color: #217346; /* Verde Excel */
  border: none;
  color: #FFFFFF; /* Blanco */
  padding: 10px 20px;
  cursor: pointer;
}

.header .button:hover {
  background-color: #1b5d3a;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #FFFFFF;
  overflow-y: auto;
  width: 100%;
}

.file-card {
  background-color: #F3F3F3; /* Gris claro */
  padding: 15px 20px;
  margin-right: 20px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;

}

.file-card:hover {
  background-color: #EAEAEA;
}

.file-card a {
  text-decoration: none;
  color: #217346; /* Verde Excel */
  font-weight: bold;
}
.file-card span {
  /* margin-left: 15px; */
  font-size: 1.03em;
  color: #575757;
  font-weight: 550;
  min-width: fit-content;
}

.file-card a:hover {
  text-decoration: underline;
}


.table-container {
  padding: 20px 50px;
}

.folder-container {
  display: flex;
}

.file-img {
  margin-left: 20px;
}

.file-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.09em;
  color: #575757;
  font-weight: 550;
}

.transfer-button-container {
  padding: 10px;
  background-color: #EAEAEA;
  width: 300px;
}

.sub-header {
  display: flex;
  justify-content: space-between;
}

.tranfer-button {
  margin-top: 20px;
}